.contactContainer {
    display: flex;
    background-color: transparent;
    /*column organization*/
    flex-direction: column; 
  }
  
  .contactTitleContainer {
    margin-top: 10%;
  }
  
  
  .contactTitle {
    color: #ffffff;
    font-size: 80px;
    font-family: Dirt;
    margin-left: 60%;
    animation: glowing 3s infinite;
  }
  
  .contactElement {
    background-color: #000000;
    border-radius: 10%;
    width: 20%;
    height: auto;
  }
  
  .contactText {
    color: #04d9ff;
    font-family: lato;
    font-size: 80px;
    margin-left: 5%;
  }
  
  .contactElementContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 30%;
  }
  
  .contactElementList {
    list-style: none;
    display: flex; 
    justify-content: center; 
    
  }