/*container*/
.contactContainer {
    display: flex;
    background-color: transparent;
    /*column organization*/
    flex-direction: column; 
    padding-top: 5%;
}

/*title*/
.contactTitle {
    color: #ffffff;
    font-size: 80px;
    font-family: Dirt;
    margin-left: 60%;
    animation: glowing 3s infinite;
}

/*list*/
.contactElementList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7%;
}

/*element container inside list*/
.contactElementContainer {
    display: flex;
    align-items: center;
    width: 30%;
    position: relative; /* Necesario para posicionar el ::before de forma absoluta */
}

/*element*/
.contactElement {
    background-color: #000000;
    border-radius: 10%;
    width: 20%;
    height: auto;
}

/*text*/
.contactText {
    color: #04d9ff;
    font-family: lato;
    font-size: 80px;
    margin-left: 5%;
}


@media (max-width: 1500px) {
    .contactTitle {
      font-size: 65px;     
    }
    .contactText {
        font-size: 80px;
    }
  }
  
  @media (max-width: 1400px) {
    .contactTitle {
      font-size: 60px; 
    }
    .contactText {
        font-size: 70px;
    }
  }
  
  @media (max-width: 1300px) {
    .contactTitle {
      font-size: 55px; 
    }
    .contactText {
        font-size: 60px;
    }
  }
  
  @media (max-width: 1200px) {
    .contactTitle {
      font-size: 50px; 
    }
    .contactText {
        font-size: 50px;
    }
  }
  
  @media (max-width: 1100px) {
    .contactTitle {
      font-size: 50px; 
    }
    .contactText {
        font-size: 30px;
    }
  }
  
  @media (max-width: 1000px) {
    .contactTitle {
      font-size: 50px; 
    }
    .contactText {
        font-size: 25px;
    }
  }
  
  @media (max-width: 900px) {
    .contactTitle {
      font-size: 45px; 
    }
    .contactText {
        font-size: 20px;
    }
  }
  
  @media (max-width: 800px) {
    .contactTitle {
      font-size: 35px; 
    }
    .contactText {
        font-size: 20px;
    }
  }
  
  @media (max-width: 700px) {
    .contactTitle {
      font-size: 30px; 
    }
    .contactText {
        font-size: 15px;
    }
  }
  
  @media (max-width: 600px) {
    .contactTitle {
      font-size: 25px; 
    }
  }