/*About me*/

.contenedorPrincipal {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: calc(22px + 2vmin);
  z-index: 2;
  display: flex;
  flex-direction: column;
    justify-content: left;

  
}

/* Estilos para los divs hijos */
.divHijo {
}

.title {
  max-height: 0em;
  font-size: 3em;
  color: #04d9ff;
  animation: glowing 3s infinite;
  font-family: Cyberway;
  -webkit-text-stroke: 0.1px rgb(157, 234, 255);
}

.desc {
  padding: 1%;
  max-width: 75%;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-family: lato;
  background: rgba(255, 255, 255, 0.2); /* Fondo translúcido */
  backdrop-filter: blur(10px); /* Desenfoque del fondo */
  border: 5px solid #e040ff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(224, 64, 255, 0.8);
}

@media (max-width: 1400px){
  .title{
    font-size: 15vmin;
  }
  .desc{
    font-size: 5vmin;
  }
}

@media (max-width: 1100px){
  .title{
    font-size: 10vmin;
  }
}

@media (max-width: 600px){
  .title{
    font-size: 10vmin;
  }
}

@media (max-width: 450px){
  .contenedorPrincipal{
    margin-top: 20%;
  }
}



@font-face {
    font-family: 'Cyberway';
    src: url(../../../assets/fonts/CyberwayRiders-lg97d.ttf) format('truetype');
  }

.cursor {
    z-index: 0;
    animation: blink-animation 0.7s infinite;
    color: white;
  }
  
  @keyframes blink-animation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  