/*Header */
.App-header {
    width: 100vw;
    position: fixed;
    display: flex;
    z-index: 5;
    height: 10%;
    background-color: #04d9ff;
    box-shadow: 0px 10px 60px rgba(63, 118, 248, 0.667);
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    border-bottom-style: solid;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
  }
  
  /*Header list */
  .horizontal-list {
    list-style-type: none;
    padding:0;
    display: flex; /* Utiliza flexbox para crear una lista horizontal */
    align-content: space-between;
    
  }
  
  .element-list {
    padding-left: 10px;
    padding-right: 10px;
    margin: 30px;
    border: solid black;
    border-radius: 50px;
    border-width: 5px;
    font-size: 35px;
  }

  .element-list.active {
    background-color: #bc13fe; /* Color de fondo cuando está activo */
    color: #fff; /* Color de texto cuando está activo */
    box-shadow: 0 0 20px 10px rgba(128, 0, 128, 0.8);
    animation: glowing 3s infinite alternate;
  }

  @keyframes glowing {
    0% {
      box-shadow: 0 0 20px 10px rgba(218, 4, 218, 0.649);
    }
    100% {
      box-shadow: 0 0 80px 40px rgba(84, 0, 84, 0.935);
    }
  }

  .element-list:hover {
    background-color:rgb(159, 255, 255);
    cursor: pointer;
  }

  /*TODO-falta probar con pantallas mas grandes*/

  @media (max-width: 1100px) {
    .element-list {
      font-size: 27px; 
      border-width: 4px;
    }
  }

  @media (max-width: 1000px) {
    .element-list {
      font-size: 25px; 
      border-width: 3px;
    }
  }

  @media (max-width: 800px) {
    .element-list {
      font-size: 20px; 
      border-width: 2px;
    }
  }

  @media (max-width: 700px) {
    .element-list {
      font-size: 15px; 
      border-width: 2px;
    }
  }
  
  



  