/* GlowingText.css */
@keyframes glowing {
    0% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    }
    50% {
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 50px rgba(255, 255, 255, 0.8), 0 0 50px rgba(255, 255, 255, 0.8);
    }
    100% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    }
  }
  

  @font-face {
    font-family: 'Dirt';
    src: url(../../fonts/Dirtchunk-0W0AR.otf) format('truetype');
  }


  .glowing-text {
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
    animation: glowing 3s infinite;
    font-family: 'Dirt';
    font-weight: lighter;
  }

  .cursor {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    margin-top: -1%;
  }

  @media (max-width: 1500px) {
    .glowing-text {
      font-size: 65px;     
    }
    .cursor{
      font-size: 55px;
    }
  }

  @media (max-width: 1400px) {
    .glowing-text {
      font-size: 60px; 
      
    }
    .cursor{
      font-size: 50px;
    }
  }


  @media (max-width: 1300px) {
    .glowing-text {
      font-size: 55px; 
      
    }
    .cursor{
      font-size: 45px;
    }
  }


  @media (max-width: 1200px) {
    .glowing-text {
      font-size: 50px; 
      
    }
    .cursor{
      font-size: 40px;
    }
  }

  @media (max-width: 1100px) {
    .glowing-text {
      font-size: 50px; 
      
    }
    .cursor{
      font-size: 40px;
    }
  }

  @media (max-width: 1000px) {
    .glowing-text {
      font-size: 50px; 
      
    }
    .cursor{
      font-size: 40px;
    }
  }

  @media (max-width: 900px) {
    .glowing-text {
      font-size: 45px; 
      
    }
    .cursor{
      font-size: 40px;
    }
  }

  @media (max-width: 800px) {
    .glowing-text {
      font-size: 35px; 
      
    }
    .cursor{
      font-size: 30px;
    }
  }

  @media (max-width: 700px) {
    .glowing-text {
      font-size: 30px; 
      
    }
    .cursor{
      font-size: 25px;
    }
  }

  @media (max-width: 600px) {
    .glowing-text {
      font-size: 25px; 
      
      
    }
    .cursor{
      font-size: 20px;
    }
  }

  