@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


@font-face {
  font-family: 'Cyberway';
  src: url(./assets/fonts/CyberwayRiders-lg97d.ttf) format('truetype');
}

@font-face {
  font-family: 'Sdglitch';
  src: url(./assets/fonts/SdglitchdemoRegular-YzROj.ttf) format('truetype');
}

@font-face {
  font-family: 'Dirt';
  src: url(./assets/fonts/Dirtchunk-0W0AR.otf) format('truetype');
}

.App {
  text-align: center;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  z-index: -1;
  /*column organization*/
  display: flex; 
  flex-direction: column; 
  max-width: 100%;
  
}

/*Body container*/
.bodyContainer {
  width: 100%;
  max-width: 100vw;
  background: transparent;
}

